/*
CSS for the PROG2053 part #2 main page

Since CSS uses a global name space for classes we should use class names starting with
prog2053-main- here.
*/

.prog2053-main-topbar-buffer {
	margin-top: 70px;
}

.prog2053-main-grid-item {
	height: calc(100vh - 85px);
	padding: 10px;
}
